<% content_for :c3 do %>
  <div class="column_header">
  <h2>Follow Us</h2>
  <div style="float:left;margin-top:5px;font-size:16px"><a href="http://www.facebook.com/hellopulse"><img src="/images/fb.jpg" width="40"alt="fb" /></a></div> <div style="float: left; font-size: 16px;width:125px;margin-top:5px;margin-left:5px">Join our Facebook Page </div><div class="clear"></div>
  <div style="float:left;margin-top:5px;font-size:16px"><a href="http://www.twitter.com/hellopulse"><img src="/images/twitter.jpg" width="40" alt="twitter" /></a></div><div style="float: left; font-size: 16px;width:125px;margin-top:5px;margin-left:5px"> Follow us on Twitter</div><div class="clear"></div>
</div>

<% end %>


<%= render :partial => 'invite_users' %>