<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="HelloPulse" CONTENT="A new site for bringing together like-minded singles" />
    <title>HelloPulse</title>
    <link href="/stylesheets/jqModal.css?1249927721" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/application.css?1259784554" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery-1.3.2.js?1249927721" type="text/javascript"></script>

    <script src="/javascripts/jquery.form.js?1249927721" type="text/javascript"></script>
    <script src="/javascripts/jqModal.js?1249927721" type="text/javascript"></script>
    <script src="/javascripts/jquery.autocomplete.js?1255435441" type="text/javascript"></script>
    <script src="/javascripts/jquery.charcounter.js?1249927721" type="text/javascript"></script>
    <script src="/javascripts/application.js?1259790396" type="text/javascript"></script>
    <script type="text/javascript">
      //<![CDATA[
      var AUTH_TOKEN = "fjrcylvFWLqC+VWL5b6fNyOCC+RO+uOfA3RXBjKCDlg=";
      //]]>
    </script>


  </head>
  <body>

    <input id="googlecode" name="googlecode" type="hidden" value="UA-143478-6" />
    <div id="dialog" style="display: none;" class="jqmWindow"></div>

    <div id="nav">
      <ul id="top-nav">

      </ul>
      <div id="search-box">
        <form action="/search/nav?search_criteria_header[type]=1" method="get">
          <input class="header_input_text" id="search_criteria_keyword" name="search_criteria[keyword]" type="text" value="" />
          <input class="header_input_text" id="search_criteria_header_type" name="search_criteria_header[type]" type="hidden" value="1" />


          <button id="search" class="header_submit" style="" type="submit"></button>
        </form>
      </div>
      <div class="clear"></div>
    </div>
    <div id="header">
      <a href="/account"><img alt="HelloPulse" height="173" id="logo" src="/images/header_logo.png?1259157658" width="314" /></a>
      <div id="header-banner">
        <h2>Welcome to Hello Pulse. We are using technology to build a totally new experience in online dating. Please complete the info below to get access to the site. Don’t be shy.</h2>

      </div>
    </div>

    <!--Main Content Starts Here -->

    <div id="main_container">
      <div id="left" class="column_container">




        &nbsp;


      </div>
      <div id="middle" class="column_container">






        <div class="column_header">
          <span>
            <h2 id="step_header">Sign Up &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span id="signup_header_step1" style="font-size:16px;font-weight:bold">Step 1</span> &nbsp;>&nbsp; <span  id="signup_header_step2">Step 2</span>&nbsp;>&nbsp; <span  id="signup_header_step3">Step 3</span></h2>
          </span>

        </div>

        <div id="step_container">
          <div id="step_text" class="step_text">
            <div class="clearfix"></div>
            <div id="step_1_text" class = "step_desc" >
              <h3>Please choose a user name and enter your account information</h3>
            </div>
            <div id="step_2_text" class = "step_desc" style="display: none;">
              <h3>Nice job! We've sent you a confirmation email.
					But don't worry about that right now. Instead go ahead and fill out the info below. Don't forget to add a photo!</h3>

            </div>
            <div id="step_3_text" class = "step_desc" style="display: none;">
              <h3>Looking good. One last step. We need you to add some activities that you like to do or places you like to go. This helps us get a better understanding of the things you like and we can begin matching you with other people.</h3>
            </div>
          </div>
        </div>
        <div class="clear"></div
        <div id="step_1" class="step">
          <div class="step_1_container">
            <form action="/account" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="fjrcylvFWLqC+VWL5b6fNyOCC+RO+uOfA3RXBjKCDlg=" /></div>

              <div>
                <div style='padding-top:5px;'>
                  <label  class='sign_up_label'>First name</label>
                </div>
                <div class="clear"></div>
                <input class="input_text" id="user_first_name" name="user[first_name]" type="text" value="First name" />
                <span class="error"></span>
              </div>

              <div><div style='padding-top:10px;'>
                  <label class='sign_up_label'>Username</label>
                </div>
                <div class="clear"></div>
                <input class="input_text" id="user_username" name="user[username]" type="text" value="Username" />
                <span class="error"></span>
              </div>
              <div><div style='padding-top:10px;'>
                  <label  class='sign_up_label'>Password</label>

                </div>
                <div class="clear"></div>
                <input class="input_text" id="password_holder" name="password_holder" type="text" value="Password" />
                <input class="input_text" id="user_password" name="user[password]" size="30" style="display: none;" type="password" />
                <span class="error"></span>
              </div>
              <div><div style='padding-top:10px;'>
                  <label  class='sign_up_label'>Password confirmation</label>
                </div>

                <div class="clear"></div>
                <input class="input_text" id="password_confirmation_holder" name="password_confirmation_holder" type="text" value="Password confirmation" />
                <input class="input_text" id="user_password_confirmation" name="user[password_confirmation]" size="30" style="display: none;" type="password" />
                <span class="error"></span>
              </div>
              <div><div style='padding-top:10px;'>
                  <label  class='sign_up_label'>Email address</label>
                </div>
                <div class="clear"></div>

                <input class="input_text" id="user_email" name="user[email]" type="text" value="Email address" />
                <span class="error"></span>
              </div>
              <div><div style='padding-top:10px;'>
                  <label  class='sign_up_label'>Post Code</label>
                </div>
                <div class="clear"></div>
                <input class="input_text" id="user_postcode" name="user[postcode]" type="text" value="Post code" />
                <span class="error"></span>

              </div>
              <div>
                <button class="submit" id="" type="submit"style="margin-top:10px"
                        <span class="submit_text">Save</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div id="step_2" class="step" style="display: none;" >

          <div id="step_2_container">
            <div id="upload_container" style="display: none;">
              <form action="/update" enctype="multipart/form-data" id="photo_upload" method="post" target="image_upload"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="fjrcylvFWLqC+VWL5b6fNyOCC+RO+uOfA3RXBjKCDlg=" /></div>
                <input id="user_icon" name="user[icon]" size="30" style="position: absolute;" type="file" />
              </form>
            </div>

            <div id="add_photo">Add photo</div>
            <form action="/account/" id="details_update" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="fjrcylvFWLqC+VWL5b6fNyOCC+RO+uOfA3RXBjKCDlg=" /></div>

              <div>
                <label  style="margin-top: 10px; color:#990000;">Description</label>
                <div id="description_panel">
                  <textarea class="word_count" cols="45" id="user_description" name="user[description]" rows="2">Give us a line that sums you up</textarea>
                </div>
              </div>
              <div style="clear:both;"> </div>

              <div style='padding-top:10px;'>
                <label  style="margin-top: 5px; color:#990000;">Your gender</label>
                <div class='fancy_select'>
                  <input id="user_sex" name="user[sex]" type="hidden" />
                  <div class="fancy_select_target">Select a gender</div>
                  <div class="fancy_select_options">
                    <p>Male <span class="hidden_value">1</span></p>

                    <p>Female <span class="hidden_value">2</span></p>
                  </div>
                </div>
              </div>
              <div style="clear:both;"> </div>
              <div style='padding-top:10px;'>
                <label  style="margin-top: 5px; color:#990000;">Date of Birth</label>

                <div style="clear:both;"> </div>
                <input id="user_dob" name="user[dob]" type="hidden" />
                <span>
                  <div class='fancy_select', style="width:40px; float:left">
                       <input id="day" name="day" type="hidden" />
                    <div class="fancy_select_target">
                      Day
                    </div>
                    <div class="fancy_select_options" , style="width:40px">


                         <p>1 <span class="hidden_value">1</span></p>

                      <p>2 <span class="hidden_value">2</span></p>

                      <p>3 <span class="hidden_value">3</span></p>

                      <p>4 <span class="hidden_value">4</span></p>

                      <p>5 <span class="hidden_value">5</span></p>


                      <p>6 <span class="hidden_value">6</span></p>

                      <p>7 <span class="hidden_value">7</span></p>

                      <p>8 <span class="hidden_value">8</span></p>

                      <p>9 <span class="hidden_value">9</span></p>

                      <p>10 <span class="hidden_value">10</span></p>


                      <p>11 <span class="hidden_value">11</span></p>

                      <p>12 <span class="hidden_value">12</span></p>

                      <p>13 <span class="hidden_value">13</span></p>

                      <p>14 <span class="hidden_value">14</span></p>

                      <p>15 <span class="hidden_value">15</span></p>


                      <p>16 <span class="hidden_value">16</span></p>

                      <p>17 <span class="hidden_value">17</span></p>

                      <p>18 <span class="hidden_value">18</span></p>

                      <p>19 <span class="hidden_value">19</span></p>

                      <p>20 <span class="hidden_value">20</span></p>


                      <p>21 <span class="hidden_value">21</span></p>

                      <p>22 <span class="hidden_value">22</span></p>

                      <p>23 <span class="hidden_value">23</span></p>

                      <p>24 <span class="hidden_value">24</span></p>

                      <p>25 <span class="hidden_value">25</span></p>


                      <p>26 <span class="hidden_value">26</span></p>

                      <p>27 <span class="hidden_value">27</span></p>

                      <p>28 <span class="hidden_value">28</span></p>

                      <p>29 <span class="hidden_value">29</span></p>

                      <p>30 <span class="hidden_value">30</span></p>


                      <p>31 <span class="hidden_value">31</span></p>

                    </div>
                  </div>
                  <div class='fancy_select', style="width:86px; float:left">
                       <input id="month" name="month" type="hidden" />
                    <div class="fancy_select_target">
                      Month
                    </div>

                    <div class="fancy_select_options", style="width:86px">



                         <p> <span class="hidden_value">0</span></p>



                      <p>January <span class="hidden_value">1</span></p>



                      <p>February <span class="hidden_value">2</span></p>



                      <p>March <span class="hidden_value">3</span></p>




                      <p>April <span class="hidden_value">4</span></p>



                      <p>May <span class="hidden_value">5</span></p>



                      <p>June <span class="hidden_value">6</span></p>



                      <p>July <span class="hidden_value">7</span></p>



                      <p>August <span class="hidden_value">8</span></p>




                      <p>September <span class="hidden_value">9</span></p>



                      <p>October <span class="hidden_value">10</span></p>



                      <p>November <span class="hidden_value">11</span></p>



                      <p>December <span class="hidden_value">12</span></p>


                    </div>

                  </div>
                  <div class='fancy_select' , style="width:50px; float:left">
                       <input id="year" name="year" type="hidden" />
                    <div class="fancy_select_target" >
                      Year
                    </div>
                    <div class="fancy_select_options" , style="width:50px">

                         <p>1991 <span class="hidden_value">1991</span></p>

                      <p>1990 <span class="hidden_value">1990</span></p>


                      <p>1989 <span class="hidden_value">1989</span></p>

                      <p>1988 <span class="hidden_value">1988</span></p>

                      <p>1987 <span class="hidden_value">1987</span></p>

                      <p>1986 <span class="hidden_value">1986</span></p>

                      <p>1985 <span class="hidden_value">1985</span></p>


                      <p>1984 <span class="hidden_value">1984</span></p>

                      <p>1983 <span class="hidden_value">1983</span></p>

                      <p>1982 <span class="hidden_value">1982</span></p>

                      <p>1981 <span class="hidden_value">1981</span></p>

                      <p>1980 <span class="hidden_value">1980</span></p>


                      <p>1979 <span class="hidden_value">1979</span></p>

                      <p>1978 <span class="hidden_value">1978</span></p>

                      <p>1977 <span class="hidden_value">1977</span></p>

                      <p>1976 <span class="hidden_value">1976</span></p>

                      <p>1975 <span class="hidden_value">1975</span></p>


                      <p>1974 <span class="hidden_value">1974</span></p>

                      <p>1973 <span class="hidden_value">1973</span></p>

                      <p>1972 <span class="hidden_value">1972</span></p>

                      <p>1971 <span class="hidden_value">1971</span></p>

                      <p>1970 <span class="hidden_value">1970</span></p>


                      <p>1969 <span class="hidden_value">1969</span></p>

                      <p>1968 <span class="hidden_value">1968</span></p>

                      <p>1967 <span class="hidden_value">1967</span></p>

                      <p>1966 <span class="hidden_value">1966</span></p>

                      <p>1965 <span class="hidden_value">1965</span></p>


                      <p>1964 <span class="hidden_value">1964</span></p>

                      <p>1963 <span class="hidden_value">1963</span></p>

                      <p>1962 <span class="hidden_value">1962</span></p>

                      <p>1961 <span class="hidden_value">1961</span></p>

                      <p>1960 <span class="hidden_value">1960</span></p>


                      <p>1959 <span class="hidden_value">1959</span></p>

                      <p>1958 <span class="hidden_value">1958</span></p>

                      <p>1957 <span class="hidden_value">1957</span></p>

                      <p>1956 <span class="hidden_value">1956</span></p>

                      <p>1955 <span class="hidden_value">1955</span></p>


                      <p>1954 <span class="hidden_value">1954</span></p>

                      <p>1953 <span class="hidden_value">1953</span></p>

                      <p>1952 <span class="hidden_value">1952</span></p>

                      <p>1951 <span class="hidden_value">1951</span></p>

                      <p>1950 <span class="hidden_value">1950</span></p>


                      <p>1949 <span class="hidden_value">1949</span></p>

                      <p>1948 <span class="hidden_value">1948</span></p>

                      <p>1947 <span class="hidden_value">1947</span></p>

                      <p>1946 <span class="hidden_value">1946</span></p>

                      <p>1945 <span class="hidden_value">1945</span></p>


                      <p>1944 <span class="hidden_value">1944</span></p>

                      <p>1943 <span class="hidden_value">1943</span></p>

                      <p>1942 <span class="hidden_value">1942</span></p>

                      <p>1941 <span class="hidden_value">1941</span></p>

                      <p>1940 <span class="hidden_value">1940</span></p>


                      <p>1939 <span class="hidden_value">1939</span></p>

                      <p>1938 <span class="hidden_value">1938</span></p>

                      <p>1937 <span class="hidden_value">1937</span></p>

                      <p>1936 <span class="hidden_value">1936</span></p>

                      <p>1935 <span class="hidden_value">1935</span></p>


                      <p>1934 <span class="hidden_value">1934</span></p>

                      <p>1933 <span class="hidden_value">1933</span></p>

                      <p>1932 <span class="hidden_value">1932</span></p>

                      <p>1931 <span class="hidden_value">1931</span></p>

                      <p>1930 <span class="hidden_value">1930</span></p>


                      <p>1929 <span class="hidden_value">1929</span></p>

                      <p>1928 <span class="hidden_value">1928</span></p>

                      <p>1927 <span class="hidden_value">1927</span></p>

                      <p>1926 <span class="hidden_value">1926</span></p>

                      <p>1925 <span class="hidden_value">1925</span></p>


                      <p>1924 <span class="hidden_value">1924</span></p>

                      <p>1923 <span class="hidden_value">1923</span></p>

                      <p>1922 <span class="hidden_value">1922</span></p>

                      <p>1921 <span class="hidden_value">1921</span></p>

                      <p>1920 <span class="hidden_value">1920</span></p>


                      <p>1919 <span class="hidden_value">1919</span></p>

                      <p>1918 <span class="hidden_value">1918</span></p>

                      <p>1917 <span class="hidden_value">1917</span></p>

                      <p>1916 <span class="hidden_value">1916</span></p>

                      <p>1915 <span class="hidden_value">1915</span></p>


                      <p>1914 <span class="hidden_value">1914</span></p>

                      <p>1913 <span class="hidden_value">1913</span></p>

                      <p>1912 <span class="hidden_value">1912</span></p>

                      <p>1911 <span class="hidden_value">1911</span></p>

                      <p>1910 <span class="hidden_value">1910</span></p>


                      <p>1909 <span class="hidden_value">1909</span></p>

                    </div>
                  </div>
                </span>
              </div>
              <div style="clear:both;"> </div>
              <div style='padding-top:10px;'>
                <label  style="margin-top: 5px; color:#990000;">Gender preference</label>

                <div class='fancy_select'>
                  <input id="user_sex_preference" name="user[sex_preference]" type="hidden" />
                  <div class="fancy_select_target" id='user_gender_preference_target'>Looking for</div>
                  <div class="fancy_select_options">
                    <p>Male <span class="hidden_value">1</span></p>
                    <p>Female <span class="hidden_value">2</span></p>

                    <p>Both <span class="hidden_value">3</span></p>
                  </div>
                </div>
              </div>
              <div style='padding-top:10px;'>
                <label  style="margin-top: 5px; color:#990000;">Age preference</label>
                <div class='fancy_select'>
                  <input id="user_age_preference" name="user[age_preference]" type="hidden" />
                  <div class="fancy_select_target" id="user_age_preference_target">Around the age</div>

                  <div class="fancy_select_options">

                    <p>College age <span class="hidden_value">1</span></p>

                    <p>Early twenties <span class="hidden_value">2</span></p>

                    <p>Mid twenties <span class="hidden_value">3</span></p>

                    <p>Late twenties <span class="hidden_value">4</span></p>


                    <p>Early thirties <span class="hidden_value">5</span></p>

                    <p>Mid thirties <span class="hidden_value">6</span></p>

                    <p>Late thirties <span class="hidden_value">7</span></p>

                    <p>Early forties <span class="hidden_value">8</span></p>

                    <p>Mid forties <span class="hidden_value">9</span></p>


                    <p>Late forties <span class="hidden_value">10</span></p>

                    <p>Older <span class="hidden_value">11</span></p>

                  </div>
                </div>
              </div>
              <div class="image_submit; padding-top:10px">
                <button class="submit" id="" type="submit"style=""
                        <span class="submit_text">Save info</span>

                </button>
              </div>
            </form>
          </div>
        </div>
        <div id="step_3" class="step" style="display: none;">
          <div id="step_3_container">
            <form action="/account/activities" id="pa_select" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="fjrcylvFWLqC+VWL5b6fNyOCC+RO+uOfA3RXBjKCDlg=" /></div>

              <label  style="margin-top: 5px; color:#990000;">What do you enjoy doing?</label>

              <div class="clear"></div>
              <div style="float:left;">



                <div id="activity_category" style="margin-top:5px;float:left;">
                  <div class='fancy_select_parent' style="width: 230px;" id="activity_category_div">
                    <input id="category" name="category" type="hidden" value="parent_value" />
                    <div class="fancy_select_target_parent" id="activity_category_target" style="width:300px">

	        Any category

                    </div>
                    <div class="fancy_select_options_parent" id="activity_category_options" style="width: 250px;">

                      <p>Any category<span class="hidden_value_parent"><0></span></p>



                      <p>Arts, Entertainment & Culture<span class="hidden_value_parent">Arts, Entertainment & Culture</span></p>

                      <p>Business & Career<span class="hidden_value_parent">Business & Career</span></p>

                      <p>Communities & Lifestyles<span class="hidden_value_parent">Communities & Lifestyles</span></p>


                      <p>Eating & Drinking<span class="hidden_value_parent">Eating & Drinking</span></p>

                      <p>Health & fitness<span class="hidden_value_parent">Health & fitness</span></p>

                      <p>Pets & Animals<span class="hidden_value_parent">Pets & Animals</span></p>


                      <p>Sports & Outdoorsy stuff<span class="hidden_value_parent">Sports & Outdoorsy stuff</span></p>

                      <p>Travel<span class="hidden_value_parent">Travel</span></p>

                    </div>
                  </div>
                </div>

                <div id="activity" style="margin-left:10px;margin-top:5px;float:left;">

                  <div class='fancy_select_child' style="width: 200px;">


                    <input id="activity_id" name="activity_id" type="hidden" value="0" />


                    <div class="fancy_select_target_child" id="activity_target">

				Any activity

                    </div>
                    <div class="fancy_select_options_child" id="activity_options">

                      <p>Any activity<span class="hidden_value_parent"><0></span></p>

                    </div>
                  </div>

                </div>


                <script type="text/javascript" charset="utf-8">

                  //***************PARENT**************
                  $('.fancy_select_parent').live('click',function() {
                    $('.fancy_select_options_parent').hide();
                    $(this).children('.fancy_select_options_parent').show();
                  })

                  $('.fancy_select_parent p').live('mouseover',function() {
                    $(this).addClass('hover');
                  }).live('mouseout',function() {
                    $(this).removeClass('hover');
                  }).live('click',function() {
                    $(this).parent().prevAll('input').val($(this).find('.hidden_value_parent').text());
                    $(this).parent().prev().html($(this).html());
                    $(this).parent().hide();

                    if($(this).find('.hidden_value_parent').text() == "<0>") {
                      $('#activity_id').val("0");
                      $('#activity_target').replaceWith('<div id="activity_target" class="fancy_select_target_child">Any activity</div>');
                      var optslist = '<div class="fancy_select_options_child" id="activity_options">';
                      optslist = optslist+'<p>Any activity<span class="hidden_value_child">0</span></p>'
                      $('#activity_options').replaceWith(optslist);
                    }
                    else	{
                      $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "/search/activity_list",
                        data: { "category" : $(this).find('.hidden_value_parent').text() },
                        success: function(p) {
                          $('#activity_id').val(p[0].activity.id);
                          $('#activity_target').replaceWith('<div id="activity_target" class="fancy_select_target_child">' + p[0].activity.name+'</div>');
                          var i=0;
                          var optslist = '<div class="fancy_select_options_child" id="activity_options">';
                          for(i=0;i<p.length;i++)
                          {
                            optslist = optslist+'<p>'+ p[i].activity.name +'<span class="hidden_value_child">'+ p[i].activity.id +'</span></p>'
                          }
                          optslist = optslist+'</div>';
                          $('#activity_options').replaceWith(optslist);
                        }
                      })
                    }
                    return false;
                  })

                  //***************CHILD**************
                  $('.fancy_select_child').live('click',function() {
                    $('.fancy_select_options_child').hide();
                    $(this).children('.fancy_select_options_child').show();
                  });

                  $('.fancy_select_options_child p').live('mouseover',function() {
                    $(this).addClass('hover');
                  }).live('mouseout',function() {
                    $(this).removeClass('hover');
                  }).live('click',function() {
                    $(this).parent().prevAll('input').val($(this).find('.hidden_value_child').text());
                    $(this).parent().prev().html($(this).html());
                    $(this).parent().hide();
                    $('#user_place_activity[activity_id]').val($(this).find('.hidden_value_child').val());
                    return false;
                  });


                </script>
              </div>
              </br>
              </br>
              <div class="clear"></div>
              <div style="float:left; margin-top:15px">
                <label  style="margin-top: 5px; color:#990000;">Where do you like doing it?</label>

                <div class="clear"></div>

                <input id="place_id" name="place_id" type="hidden" value="0" />
                <input class="input_text" data-prefilled="false" id="place_name" name="place_name" size="50" type="text" />
                <div class='clear'></div>
                <div style="margin-top:10px; float:left">
                  <label  style="margin-top: 5px; color:#990000;">When do you do it?</label>
                  <div class="clear"></div>
                  <div class='fancy_select' style="margin-top: 0px; width:130px; float:left">

                    <input id="user_place_activity_day_of_week" name="user_place_activity[day_of_week]" type="hidden" value="0" />
                    <div class="fancy_select_target" id="day_of_week_target">
                      Any day
                    </div>
                    <div class="fancy_select_options" style="width:130px;">
                      <p>Any day<span class='hidden_value'>0</span></p><p>Monday<span class='hidden_value'>1</span></p><p>Tuesday<span class='hidden_value'>2</span></p><p>Wednesday<span class='hidden_value'>3</span></p><p>Thursday<span class='hidden_value'>4</span></p><p>Friday<span class='hidden_value'>5</span></p><p>Saturday<span class='hidden_value'>6</span></p><p>Sunday<span class='hidden_value'>7</span></p>
                    </div>

                  </div>&nbsp;
                  <div style="width:10px;float:left;">&nbsp;</div>
                  <div class='fancy_select' style="margin-top: 0px; width:200px; float:left">
                    <input id="user_place_activity_time_of_day" name="user_place_activity[time_of_day]" type="hidden" value="0" />
                    <div class="fancy_select_target" id="time_of_day_target">
                      Any time
                    </div>
                    <div class="fancy_select_options" style="width:200px;">
                      <p>Any time<span class='hidden_value'>0</span></p><p>Early Mornings<span class='hidden_value'>1</span></p><p>Mid Mornings<span class='hidden_value'>2</span></p><p>Late Mornings<span class='hidden_value'>3</span></p><p>Midday<span class='hidden_value'>4</span></p><p>Afternoons<span class='hidden_value'>5</span></p><p>Late Afternoons<span class='hidden_value'>6</span></p><p>Evenings<span class='hidden_value'>7</span></p><p>Late Nights<span class='hidden_value'>8</span></p>
                    </div>

                  </div>


                </div>

                <div class="clear"></div>
                <div style="margin-top:10px; float:left; margin-top:15px">
                  <label style="margin-top: 5px; color:#990000;">Why do you like this place?</label>
                  <div class="clear"></div>
                  <textarea class="input_text word_count" cols="60" id="user_place_activity_description" name="user_place_activity[description]" rows="2"></textarea>

                </div>

              </div>
              <div class="clear"></div>
              <input id="activity_error" name="activity_error" style="display:none; width:250px" type="text" value="" />
              <div class="clear"></div>
              <div class="image_submit" style="float:left">
                <div  style="float:left;">
                  <button class="submit" id="" type="submit"style=""
                          <span class="submit_text">Add activity</span>
                  </button>
                </div>


              </div>
              <div class="clear"></div>
              <div id="activities_container" style="float:left; margin-top:10px;">
                <div class="clear"></div>



                <div style="float:left;width:556px; margin-bottom:4px;">
                  <h3 style="width:556px;font-size:14px" class="section_name">Your activities</h3>
                </div>
                <div class="clear">&nbsp;</div>


                <div style="padding:5px;margin-right:5px;width:155px;float:left;text-align:center;background-color:#EDEDED;">What</div>
                <div style="padding:5px;margin-right:5px;width:155px;float:left;text-align:center;background-color:#EDEDED;">Where</div>
                <div style="padding:5px;margin-right:5px;width:85px;float:left;text-align:center;background-color:#EDEDED;">When</div>
                <div style="padding:5px;margin-right:5px;width:93px;float:left;text-align:center;background-color:#EDEDED;">Who</div>

                <div id="user_place_activities" style="float:left; margin-top:5px">

                  Please add some activities
                </div>
              </div>
              <div style="float:left;">
                <button class="submit" id="finished" type="submit"style=""
                        <span class="submit_text">Finish</span>
                </button>
              </div>
            </form>
          </div>

        </div>




      </div>
      <div id="right" class="column_container">



        &nbsp;


      </div>
    </div>
    <div class="clear">&nbsp;</div>
    <div id="main_footer">


      <div style="font-size:12px;">
        <a href="/about">About Us</a> |
        <a href="/terms">Terms &amp; Conditions</a> |
        <a href="/contact">Feedback/Contact Us</a>
      </div>



    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-143478-6");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>


