<h3 class="section">New picture</h3>
<% form_for @picture, :url => account_pictures_path, :html => {:multipart => true} do |f| %>
  <%= error_messages_for :picture %>
  
  <%= f.file_field :uploaded_data %>
  <br /><br />
  <%= f.submit :Save %>
<% end %>
