<div id="search_criteria">
	<%= render :partial => "shared/activity_select", :locals => {:allow_any_activity => "1"} %>
	</br>
	<div class="clear"></div>	
	<div class="float:left" id="postcodesearch">
		<label  style="margin-top: 5px; color:#990000;">Location</label><br \>	
	  	<div class='fancy_select' style="margin-top: 0px">
	    	<%= hidden_field_tag 'distance', '0' %>
	    	<div class="fancy_select_target">
				Any distance
	      	</div>
		  	<div class="fancy_select_options">
		   		<p>Any distance <span class="hidden_value">0</span></p>
		    	<p>1 mile <span class="hidden_value">1</span></p>
		    	<p>2 miles <span class="hidden_value">2</span></p>
		   		<p>5 miles <span class="hidden_value">5</span></p>
		   		<p>10 miles <span class="hidden_value">10</span></p>          
		  	</div>
		</div>
	   	from 
  		<%= text_field_tag 'postcode', 'Post code', :class => 'input_text' %><br />	
	</div>	
</div>

<script type="text/javascript" charset="utf-8">
//todo: move this to application.js with a .live : NOT WORKING ANYWAYS!!!!
//$(document).ready(function() {
//  $('#postcode').focus(function() {
//	alert('c');
//    if ($(this).val() == 'Post code') {
//    $(this).val('');
//  });
//});

</script>