<div class="section_header">
	<h3 class="section_name">Find activities</h3>
  
  <div class="section_extra"></div>
  <div class="clear">&nbsp;</div>
</div>

<% form_tag search_path, :method => :get, :id => "advanced_search" do %>
  <%= hidden_field_tag "t", 'activities' %>
	<h3>Search for an activity by keyword</h3>
	<%= text_field_tag :q, nil, :id => "search_q_keyword", :class => "input_text" %>
	
	<div id="advanced_search_submit">
    <%= submit_button "Search" %>    
  </div>
<% end %>