.step_text
{
	float:left;
	display:inline;
	width:556px;
	position:relative;
	margin-left: 172px;
	margin-right: 10px;
}

.step_desc
{
	float:left;
	display:inline;
	width:556px;
	position:relative;
	margin-left: 10px;
	margin-right: 10px;
}

.step
{
	float:left;
	display:inline;
	width:556px;
	position:relative;
	margin-left: 172px;
	margin-right: 10px;	
}

#signup_logo
{
width:180px;	
	
}
#signup_step_logo
{
width:120px;	
	
}
#container {
  margin-bottom: 200px;
}

a, a:visited, a:active {
  color: #990000;
  text-decoration: none;
}

#copy {
  font-size: 2em;
}


#copy {
  padding-top: 50px;
}

#container {
  padding-top: 10px;
}




.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.positioniseverything.net/easyclearing.html */

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}