
#signup_logo
{
width:180px;	
	
}

#container {
  margin-bottom: 200px;
}

a, a:visited, a:active {
  color: #990000;
  text-decoration: none;
}

#copy {
  font-size: 2em;
}

.input_text_box {
  padding: 4px;
  border: 1px solid #f1f3f6;
  background-color: #f1f3f6;
  color: #666;
  width: 260px;	
  font-size: 0.9em;
	
}

.input_text {
  padding: 4px;
  border: 1px solid #f1f3f6;
  background-color: #f1f3f6;
  color: #666;
  width: 180px;
}

.error {
  color: #990000;
  font-family: Helvetica !important;
  font-size: .8em;
}

#copy {
  padding-top: 50px;
}

#container {
  padding-top: 10px;
}

#add_photo {
  width: 170px;
  height: 170px;
  padding: 20px 10px 10px 10px;
  background-color: #f1f3f6;
  color: #666;
  font-size: 1.3em;
  background: #f1f3f6 url(/images/add_photo.gif) center no-repeat;
  cursor: pointer;
}

#add_photo_button {
  text-align: center;
}

.fancy_select {
  width: 180px;
  height: 20px;
  padding: 2px 5px 2px 5px;
  color: #666;
  border: 1px solid #eaecf1;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
  background: #f7f8fa url(/images/fancy_select_handle.gif) right top no-repeat;
  position: relative;
}

.fancy_select_options {
  background-color: white;
  width: 180px;
  position: absolute;
  top: 20px;
  left: 0px;
  border: 1px solid #ccc;
  padding: 2px 4px 2px 4px;
  display: none;
  z-index: 800;
}

.fancy_select_options p {
  margin: 1px;
}

.fancy_select_options p.hover {
  background-color: #f7f8fa;
}

.hidden_value {
  display: none;
}

#description, #pdescription {
  margin-top: 10px;
}

#user_description, #pa_description {
  font-size: .9em;
  padding: 4px;
  border: 1px solid #f1f3f6;
  background-color: #f1f3f6;
  color: #666;
  width: 180px;
}

.charcounter {
  font-size: .75em;
  color: #666;
  text-align: right;
}

.invalid {
  background-color: #ede7e9 !important;
  border: 1px solid #d7a1a3 !important;
}

.image_submit {
  margin-top: 10px;
}

.ac_results {
  padding: 0px;
  border: 1px solid WindowFrame;
  background-color: Window;
  overflow: hidden;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac_results iframe {
  display:none;/*sorry for IE5*/
  display/**/:block;/*sorry for IE5*/
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  filter:mask();
  width:3000px;
  height:3000px;
}

.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  font: menu;
  font-size: 12px;
  overflow: hidden;
}

.ac_loading {
  background : Window url('./indicator.gif') right center no-repeat;
}

.ac_over {
  background-color: Highlight;
  color: HighlightText;
}