<div class="profile_description">
  I am a <%= gender_preference user.sex %> in 
  <%= gender_age_preference user.age, user.sex %> 
  looking for a <%= gender_preference user.sex_preference %> in <%= gender_age_preference user.age_preference, user.sex_preference %>
</div>