
<%= std_drop_down('activity_category_id', 0, {:width => '223px'},activity_category_options, 'Any category', 0, 'activity_category_hidden','activity_category_select') %><br />
<div class="clear"></div>
<%= std_drop_down('activity_id', 0, {:width => '223px', :leftmargin => '15px'},gender_options, 'Any activity', 0, 'activity_hidden', 'activity_select' ) %><br />
<div class="clear"></div>




<script type="text/javascript" charset="utf-8">


  $('#activity_category_select').live('change',function() {
	$.ajax({
        type: "GET",
        dataType: "json",
        url: "/search/activity_list",
        data: { "activity_category_id" : $('#activity_category_id').val() },
        success: function(p) {
	 		var options = "";
			for(i=0;i<p.length;i++)
	        {
				options += '<option value=' + p[i].activity.id + '>'+p[i].activity.name + '</option>';
	 		}
			$('#activity_select').html(options);
			$('#activity_id').val(p[0].activity.id);
        }
      })
	});

</script>