<div class="column_header">
     
      	<h2>Your Pulse</h2>

</div>

<% if current_user.icon.url == '/images/original/missing.png' %>
	 Add a profile picture to increase  your visibility! 
<% else %>
	Add more <%=  link_to 'activities', '#', 'data-href' => "/user_place_activities/free?view=new", :class => "add_activity" %> to refine or increase your matches
<% end %>