<div style='width:300px; height:300px'>


  <%= submit_button 'Cancel', :id => "quick_cancel"%>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {


  }
</script>