<div class="object" id="<%= dom_id object %>">

	<div class="icon">
		<%= link_to image_tag(object.user.icon.url(:thumb), :width => '45px', :height => '45px'), object.user %>
	</div>
	<div class="info_container">
		<div class="description">
	     		<%=object.user.name%>
	   	</div>
		<div class="description">
	     		<i><%=object.description%></i>
	   	</div>
	    <div class="clear"></div>
	</div>
	<div class="actions">
	
	</div>
	<div class="clear"></div>

  <div class="clear"></div>
</div>