<div style="width:750px">
  Hello Friends!

  Please click the button below to give us access to some of your facebook data. We promise not to use this data for ANYTHING except a bit of analysis, and we won't publish anuthing to your wall or anything like that.

  <br />
  <%= link_to image_tag("fbConnect.gif", :title => "Connect"), @oauth_url %>
  <br />

  Thanks a mill.

  <br />
  <br />
  Pierre and Jane

</div>
