<% content_for :c3 do %>
  <%= render :partial => "shared/mini_dashboard" %>
<br />
  <%= render :partial => "shared/message" %>	
<% end %>


<% content_for :message do %>
  <h2>Here are your recent and past messages.</h2>
<% end %>

<div class="column_header">
      <span>
      	<h2>My Messages</h2>
      </span>
</div>
<div id="msg_container">
  <% if @messages.length > 0 %>
    <%= render :partial => "message", :collection => @messages %>
  <% else %>
    <h2>Your inbox is empty! :( </h2>
  <% end %>
</div>