<p>Hello.</p>

<p>hellopulse is a next generation dating site, focused on one simple thing – building an online dating experience that feels much more like dating in the real world.</p>

<p>The hellopulse team has a long history in building and running some of the world’s biggest and most successful social and dating sites. We came together under the belief that online dating could be so much better.</p>

<p>We all appreciate the benefits that online dating offers –skipping the awkward chat up line, the ability to see lots of profiles all in one place, and a smart piece of technology working in the background to tell me who I should be going on a date with. But that is just not how it works in the real world, which is why so many of the leading dating sites today are such a disappointment.</p>

<p>hellopulse matches you to other people based on the places that you spend time at, and the activities that you love. We believe that a shared love for a bar, or a park, dog-walking or kickboxing, is a great indicator of how two people will connect. It also makes it easy to choose a location for a date and it makes it fit more naturally into your everyday life.</p>

<p>So create a profile and see who we can help you find. The more places and activities you add, the better the matches we’ll be able to find for you.</p>

<p>Let us know how we are doing.</p>