<% content_for :c3 do %>
  &nbsp;		
<% end %>
<% content_for :c1 do %>
  &nbsp;	
<% end %>
<% content_for :message do %>
 <h2></h2>
<% end %>

<div class="column_header">
      <span>
      	<h2 id="step_header">HelloPulse Inc Terms of Use 
		Agreement (&quot;Agreement&quot;)</h2>
      </span>
</div>


<p><font size="2" face="Times New Roman">Welcome to HelloPulse, the 
service for adults to meet each other online operated by HelloPulse 
Inc (&quot;HelloPulse&quot; or &quot;we&quot; or &quot;us&quot;), a 
company registered in Delaware.</font> <br></p>
<p><font size="2" face="Times New Roman">This legal notice applies to 
the entire contents of this website under the domain </font><a href="http://www.hellopulse.com/" target="_blank"><font color="#0000FF" size="2" face="Times New Roman"><u>www.HelloPulse.com</u></font></a><font size="2" face="Times New Roman"> and <a href="http://www.HelloPulse.co.uk" target="_blank">www.HelloPulse.co.uk</a> (&quot;Website&quot;) 
and to any correspondence by e-mail between us and you. Please read 
these terms and conditions carefully before using this Website. Using 
this Website indicates that you accept these terms without modification 
regardless of whether or not you choose to register with us as a member 
and constitutes you being a party to this Agreement. If you do not accept 
these terms, do not use this Website.</font> <br></p>
<p><font size="2" face="Times New Roman">Once you have completed your 
online registration procedure, your membership has been activated and 
you have entered into a legally binding contract for the provision of 
the HelloPulse service (the &quot;Service&quot;).</font> <br>
</p>
<ol type="1">
  <li><font size="2" face="Times New Roman">Eligibility. You 
  must be eighteen or over to register as a member of HelloPulse or use 
  the Website. Membership of the Service is invalid where it has been 
  prohibited. By using the Website, you represent and warrant that you 
  have the right, authority, and capacity to enter into this Agreement 
  and to abide by all of the terms and conditions of this Agreement.</font></li>
  <li><font size="2" face="Times New Roman">Registration and 
  Scope of Service. You may become a member of the Service at no cost. 
  As a member you will have the ability to participate in some, but not 
  all, of the features and services available within the Service. In order 
  to access additional features and services, including the ability to 
  communicate with other members, HelloPulse reserves the right to charge 
  for these services. Please see our billing details for a description 
  of the current rates. This rate list is part of this Agreement. We can 
  change the fees for the Service at any time but we will give you reasonable 
  notice of this before we do so. If you are unhappy with any fee changes 
  you may terminate your membership by writing to HelloPulse through the 
  website. </font></li>
</ol>
 <br>
<ul><p><font size="2" face="Times New Roman">Scope of Service. The Service 
enables you to contact other members. HelloPulse is not a marriage brokering 
service and is not obligated to successfully broker any other members 
for you. </font> <br></p></ul>
<ul><p><font size="2" face="Times New Roman">Current Information Required.  
You must provide current, complete and accurate information for your 
billing account.  You must promptly update all information to keep 
your billing account current, complete and accurate (such as change 
in billing address, credit card number or credit card expiration date), 
and you must promptly notify HelloPulse if your payment method is cancelled 
(e.g. loss or theft) or if you become aware of potential breach of security, 
such as unauthorised disclosure or use of username or password.   </font></p></ul>
<ol type="1" start="3">
  <li><font size="2" face="Times New Roman">Term and Termination. 
  This Agreement will remain in full force and effect while you are a 
  member of the Service. Under the United Kingdom Consumer Protection 
  (Distance Selling) Regulations 2000 (as amended), you can postpone commencement 
  of the Service until the seven working day cooling-off period has expired. 
  However, if you choose to become a member and enter the Website, you 
  are electing to commence the Service immediately and you thereby waive 
  any right to cancel the Service under the above Regulations.</font></li>
</ol>
 <br>
<ul><p><font size="2" face="Times New Roman">You may terminate your 
membership at any time, for any reason, effective upon receipt by us 
of your written or email notice of termination. You may contact us at 
our address listed below or you may email us here.</font> <br>
</p></ul>
<ul><p><font size="2" face="Times New Roman">We may immediately terminate 
your membership and your access to the Service at any time because you 
have breached this Agreement and will send you notice of termination 
at the email address you provide in your application for membership 
or such other email address as you may later provide to us. If we terminate 
your membership of the Service because you have breached the Agreement, 
we will refund any pre-payments made by you less reasonable costs and 
losses we have incurred. We can terminate this Agreement at any time 
by giving you reasonable advance written notice.</font> <br></p></ul>
<ul><p><font size="2" face="Times New Roman">HelloPulse may deactivate 
the accounts of members who have not used the Service for a period of 
six months or more (as calculated by the date of last connection to 
the Service) unless you are a paying subscriber.</font> <br></p></ul>
<ol type="1" start="4">
  <li><font size="2" face="Times New Roman">Non Commercial Use 
  by Members. The Website is for the personal use of individual members 
  only and may not be used in connection with any commercial endeavours. 
  Organizations, companies, and/or businesses may not become members and 
  should not use the Service or the Website for any purpose. Illegal and/or 
  unauthorised uses of the Website, including collecting usernames and/or 
  email addresses of members by electronic or other means for the purpose 
  of sending unsolicited email and unauthorised framing of or linking 
  to the Website will be investigated, and appropriate legal action will 
  be taken, including without limitation, civil, criminal, and injunctive 
  redress.</font></li>
</ol>
 <br>
<ol type="1" start="5">
  <li><font size="2" face="Times New Roman">Proprietary Rights 
  in Content on HelloPulse.  HelloPulse owns and retains all proprietary 
  rights in the Website and the Service. The Website contains the copyrighted 
  material, trademarks, and other intellectual property and proprietary 
  information of HelloPulse, and its licensors. Except for that information 
  which is in the public domain or for which you have been given written 
  permission, you may not copy, modify, publish, transmit, distribute, 
  perform, reproduce, license, create derivative works from, transfer 
  display, or sell or re-sell any such intellectual property or proprietary 
  information.</font></li>
</ol>
 <br>
<ol type="1" start="6">
  <li><font size="2" face="Times New Roman">Content Posted on 
  the Site and Prohibited Content.</font></li>
</ol>
 <br>
<ol><ol type="a">
    <li><font size="2" face="Times New Roman">The information 
    that you supply to HelloPulse and post on the Website must be accurate 
    and conform to reality.</font></li>
    <li><font size="2" face="Times New Roman">Other than personally 
    identifiable information which relates to a living individual who can 
    be identified from that information, which will be used in accordance 
    with our Privacy Policy, any material that you transmit or post to this 
    Website will be considered non-confidential and non-proprietary. We 
    will have no obligations with respect to such material. We and our designees 
    will be free to copy, disclose, distribute, incorporate and otherwise 
    use such material and all data, images, sounds, text and other things 
    embodied therein for any and all commercial or non-commercial purposes.</font></li>
    <li><font size="2" face="Times New Roman">HelloPulse may review 
    and delete any content, messages, HelloPulse Messenger messages, photos 
    or profiles (collectively, &quot;Content&quot;) that in the reasonable 
    judgment of HelloPulse violate this Agreement or which might be offensive, 
    illegal, or that might violate the rights, harm, or threaten the safety 
    of members.</font></li>
    <li><font size="2" face="Times New Roman">You are solely responsible 
    for the Content that you publish, submit, post or display (hereinafter, 
    &quot;post&quot;) on the Service, or transmit to other members via the 
    Service. You represent and warrant that at any time of posting the Content 
    is (a) accurate, (b) not in breach of this Agreement, and (c) not harmful 
    to any person in any way.</font></li>
    <li><font size="2" face="Times New Roman">By posting Content 
    to any public area of HelloPulse, you automatically grant, and you represent 
    and warrant that you have the right to grant, to HelloPulse an irrevocable, 
    perpetual, non-exclusive, fully paid, worldwide licence to use, copy, 
    perform, display, and distribute such information and content and to 
    prepare derivative works of, or incorporate into other works, such information 
    and content, and to grant and authorise sub-licences of the foregoing.</font></li>
    <li><font size="2" face="Times New Roman">The following is 
    a partial list of the kind of Content that is illegal or prohibited 
    on the Website. HelloPulse reserves the right to amend this list at 
    any times and to investigate and take appropriate legal action in its 
    sole discretion against anyone who violates this provision, including 
    without limitation, removing the offending communication from the Service 
    and terminating the membership of such violators. It includes Content 
    that: is patently offensive to the online community, such as Content 
    that promotes racism, bigotry, hatred or physical harm of any kind against 
    any group or individual; constitutes a profile or photographs of any 
    third person used without their permission. harasses or advocates harassment 
    of another person; involves the transmission of &quot;junk mail&quot;, 
    &quot;chain letters,&quot; or unsolicited mass mailing or &quot;spamming&quot;; 
    promotes information that you know is false, misleading or promotes 
    illegal activities or promotes conduct, or that is abusive, threatening, 
    obscene, defamatory or libellous; promotes an illegal or unauthorised 
    copy of another person&#39;s copyrighted work, such as providing pirated 
    computer programs or links to them, providing information to circumvent 
    manufacture-installed copy-protect devices, or providing pirated music 
    or links to pirated music files; contains restricted or password only 
    access pages, or hidden pages or images (those not linked to or from 
    another accessible page); provides material that exploits people under 
    the age of 18 in a sexual or violent manner, or solicits personal information 
    from anyone under 18; provides instructional information about illegal 
    activities such as making or buying illegal weapons, violating someone&#39;s 
    privacy, or providing or creating computer viruses; solicits passwords 
    or personal identifying information for commercial or unlawful purposes 
    from other users; and engages in commercial activities and/or sales 
    without our prior written consent such as contests, sweepstakes, barter, 
    advertising, and pyramid schemes.</font></li>
</ol></ol>
 <br>
<ol><ol type="a" start="7">
    <li><font size="2" face="Times New Roman">You must use the 
    Service in a manner consistent with any and all applicable laws, regulations 
    and codes of conduct.</font></li>
</ol></ol>
 <br>
<ol><ol type="a" start="8">
    <li><font size="2" face="Times New Roman">You shall not include 
    in your member profile any personal telephone numbers, street addresses, 
    last names, URLs or email addresses. </font></li>
</ol></ol>
 <br>
<ol><ol type="a" start="9">
    <li><font size="2" face="Times New Roman">You shall not engage 
    in advertising to, or solicitation of, other members to buy or sell 
    any products or services through the Service or to attend parties or 
    other social functions or networking for commercial purposes. You may 
    not transmit any chain letters or junk email to other members.</font></li>
</ol></ol>
 <br>
<p><font size="2" face="Times New Roman">Although HelloPulse cannot 
monitor the conduct of its members off the Website, it is also a violation 
of these rules to use any information obtained from the Service in order 
to harass, abuse, or harm another person, or in order to contact, advertise 
to, solicit, or sell to any member without their prior explicit consent. 
In order to protect our members from such advertising or solicitation, 
HelloPulse reserves the right to restrict the number of emails which 
a member may send to other members in any 24-hour period to a number 
which HelloPulse deems appropriate in its reasonable discretion.</font> <br>
</p>
<ol type="1" start="7">
  <li><font size="2" face="Times New Roman">Prohibited Activities. 
  HelloPulse reserves the right to investigate and terminate your membership 
  if you have misused the Service, or behaved in a way which could be 
  regarded as inappropriate or whose conduct is unlawful or illegal. The 
  following is a partial list of the type of actions that you may not 
  engage in with respect to the Service: You will not impersonate any 
  person or entity. You will not &quot;stalk&quot; or otherwise harass 
  any person. You will not express or imply that any statements you make 
  are endorsed by HelloPulse without our specific prior written consent.  
  You will not use any robot, spider, site search/retrieval application, 
  or other manual or automatic device or process to retrieve, index, &quot;data 
  mine&quot;, or in any way reproduce or circumvent the navigational structure 
  or presentation of the Service or its contents.  You will not post, 
  distribute or reproduce in any way any copyrighted material, trademarks, 
  or other intellectual property or proprietary information without obtaining 
  the prior consent of the owner of such proprietary rights.  You 
  will not remove any copyright, trademark or other proprietary rights 
  notices contained in the Service. You will not interfere with or disrupt 
  the Services or the site or the servers or networks connected to the 
  Services or the site.  You will not post, email or otherwise transmit 
  any material that contains software viruses or any other computer code, 
  files or programs designed to interrupt, destroy or limit the functionality 
  of any computer software or hardware or telecommunications equipment.  
  You will not forge headers or otherwise manipulate identifiers in order 
  to disguise the origin of any information transmitted through the Service.  
  You will not &quot;frame&quot; or &quot;mirror&quot; any part of the 
  Service or the Website, without HelloPulse&#39;s prior written authorisation. 
  You also shall not use meta tags or code or other devices containing 
  any reference to HelloPulse or the Service or the site in order to direct 
  any person to any other web site for any purpose.  You will not 
  transmit or post any material which constitutes or encourages conduct 
  that would be considered a criminal offence, give rise to civil liability, 
  or otherwise be contrary to the law of or infringe the rights of any 
  third party in the UK or any other country in the world.  Except 
  and only to the extent permitted under applicable law, you will not 
  modify, adapt, sublicense, translate, sell, reverse engineer, decipher, 
  decompile or otherwise disassemble any portion of the Service or the 
  Website or any software used on or for the Service or cause others to 
  do so.</font></li>
</ol>
 <br>
<ol type="1" start="8">
  <li><font size="2" face="Times New Roman">Account Security. 
  You are responsible for maintaining the confidentiality of the username 
  and password that you designate during the registration process with 
  the Service, and you are fully responsible for all activities that occur 
  under your username and password. You agree to (a) immediately notify 
  HelloPulse of any unauthorised use of your username or password or any 
  other breach of security, and (b) ensure that you exit from your account 
  at the end of each session. HelloPulse will not be liable for any loss 
  or damage arising from your failure to comply with this provision. You 
  should use particular caution when accessing your account from a public 
  or shared computer so that others are not able to view or record your 
  password or other personal information. </font></li>
</ol>
 <br>
<ol type="1" start="9">
  <li><font size="2" face="Times New Roman">Copyright Policy. 
  You may not post, distribute, or reproduce in any way any copyrighted 
  material, trademarks, or other intellectual property or proprietary 
  information without obtaining the prior written consent of the owner 
  of such proprietary rights. Without limiting the foregoing, if you believe 
  that your work has been copied and posted on the Service in a way that 
  constitutes copyright infringement, please provide our Copyright Agent 
  with the following information: an electronic or physical signature 
  of the person authorised to act on behalf of the owner of the copyright 
  interest; a description of the copyrighted work that you claim has been 
  infringed; a description of where the material that you claim is infringing 
  is located on the Website; your address, telephone number, and email 
  address; a written statement by you that you have a good faith belief 
  that the disputed use is not authorised by the copyright owner, its 
  agent, or the law; a signed statement by you, , that the above information 
  in your notice is accurate and that you are the copyright owner or authorised 
  to act on the copyright owner&#39;s behalf. HelloPulse&#39;s Copyright Agent 
  for notice of claims of copyright infringement can be reached as follows: 
  admin@HelloPulse.com </font></li>
  <li><font size="2" face="Times New Roman">Member Disputes. 
  You are solely responsible for your interactions with other HelloPulse 
  Members. HelloPulse reserves the right, but has no obligation, to monitor 
  disputes between you and other members. </font></li>
</ol>
 <br>
<ol type="1" start="11">
  <li><font size="2" face="Times New Roman">Privacy. Use of 
  the Website and/or the Service is also governed by our Privacy Policy. 
  The personal information (including sensitive personal information) 
  you provide to us will be stored on our computers. You consent to us 
  using this information to build up a profile of interests, preferences 
  and browsing patterns and to allow you to participate in the Services. 
  If you are located outside the United States, please note that the information 
  you provide is being sent to the United States. PLEASE BE AWARE THAT 
  THE LAWS OF UNITED STATES ARE GENERALLY NOT REGARDED AS PROVIDING &#39;ADEQUATE&#39; 
  DATA PROTECTION AS CONTEMPLATED UNDER ARTICLE 25 OF THE EUROPEAN UNION&#39;S 
  DATA PROTECTION DIRECTIVE (95/46/EC). BY BECOMING A MEMBER OF THE SERVICE, 
  YOU ARE CONSENTING TO (i) THE TRANSFER OF YOUR PERSONAL INFORMATION 
  TO THE UNITED STATES; (ii) USE IN THAT COUNTRY; AND (iii) TRANSFER OF 
  YOUR PERSONAL INFORMATION TO THIRD PARTIES AS MAY BE INVOLVED IN THE 
  PROVISION AND OPERATION OF THE SERVICES, IN ACCORDANCE WITH OUR PRIVACY 
  POLICY.</font></li>
</ol>
 <br>
<ol type="1" start="12">
  <li><font size="2" face="Times New Roman">Service Access. 
  While HelloPulse endeavours to ensure that this Website is normally 
  available 24 hours a day, we do not guarantee that it will be uninterrupted 
  or error free.  Access to this Website may be suspended temporarily 
  and without notice in the case of system failure, maintenance or repair 
  or for reasons beyond our control.</font></li>
</ol>
 <br>
<ol type="1" start="13">
  <li><font size="2" face="Times New Roman">Disclaimers. The 
  material at this Website is provided as is&#39; without any conditions, 
  warranties or other terms of any kind. Accordingly, to the maximum extent 
  permitted by law, HelloPulse provides you with this Website on the basis 
  that HelloPulse excludes all representations, warranties, conditions 
  and other terms (including, without limitation, the conditions implied 
  by law of satisfactory quality, fitness for purpose and the use of reasonable 
  care and skill) which but for this legal notice might have effect in 
  relation to this Website.</font></li>
</ol>
 <br>
<ul><p><font size="2" face="Times New Roman">We do not represent or 
endorse the accuracy or reliability of any advice, opinion, statement 
or other information displayed, uploaded or distributed through the 
Service by us, our partners or any member or any other person or entity. 
You acknowledge that any reliance upon such opinion, member profile, 
advice, statement or information is at your own risk. We are not responsible 
for the conduct, whether online or offline of our members. Please use 
caution and common sense when using the Website and the Service. THIS 
LEGAL NOTICE AND THE FOREGOING DISCLAIMERS ARE WITHOUT PREJUDICE TO 
ANY MANDATORY LEGAL RIGHTS THAT CANNOT BE EXCLUDED UNDER APLICABLE LAW 
INCLUDING YOUR STATUTORY RIGHTS AS A CONSUMER.</font> <br></p></ul>
<ol type="1" start="14">
  <li><font size="2" face="Times New Roman">Limitation on Liability. 
  Nothing in this legal notice shall exclude or limit HelloPulse&#39;s liability 
  for (i) death or personal injury caused by negligence [(as such term 
  is defined by the Unfair Contract Terms Act 1977)]; (ii) fraud; (iii) 
  misrepresentation as to a fundamental matter; or (iv) any liability 
  which cannot be excluded or limited under applicable law.</font></li>
</ol>
 <br>
<ul><p><font size="2" face="Times New Roman">Subject to the foregoing, 
HelloPulse, and any of HelloPulse&#39;s group companies, will not be liable 
or responsible to you or any third person for any amount or kind of 
loss or damage that may result (including without limitation, any direct, 
indirect, punitive or consequential loss or damages, or any loss of 
income, profits, goodwill, data, contracts, use of money, or loss or 
damages arising from or connected in any way to business interruption 
of any type, and whether in tort (including without limitation negligence), 
contract or otherwise) in connection with the Service or this Website 
in any way or in connection with the use, inability to use or the results 
of use of this Website.</font> <br></p></ul>
<ul><p><font size="2" face="Times New Roman">Subject to the foregoing, 
HelloPulse&#39;s liability to you for any cause whatsoever, and regardless 
of the form of the action, will at all times be limited to the amount 
paid, if any, by you to HelloPulse for the Service during the term of 
membership.</font> <br></p></ul>
<ol type="1" start="15">
  <li><font size="2" face="Times New Roman">Modifications to 
  this Agreement. We may alter or amend our terms and conditions upon 
  giving reasonable notice in advance of such amendment taking effect. 
  If upon receiving any notice, if you do not wish to continue with the 
  Service, you may terminate the contract upon giving us notice, such 
  notice to take effect upon the earlier of our receipt of your notice 
  or the date upon which the amended terms and conditions would otherwise 
  have taken effect. You will be deemed to have accepted any alteration 
  and/or amendment if you continue to use the Service after the relevant 
  period of notice has expired.</font></li>
</ol>
 <br>
<ol type="1" start="16">
  <li><font size="2" face="Times New Roman">Ownership of rights. 
  All materials on the Website are copyrighted and are protected under 
  treaty provisions and world-wide copyright laws. All rights reserved. 
  HelloPulse materials may not be reproduced, copied, edited, published, 
  transmitted or uploaded in any way without HelloPulse&#39;s written permission. 
  Except as expressly stated in the limited licence provisions in this 
  Agreement, HelloPulse does not grant any express or implied right to 
  you under any of its trademarks, copyrights or other intellectual property 
  or proprietary information.</font></li>
</ol>
 <br>
<ol type="1" start="17">
  <li><font size="2" face="Times New Roman">Release. In the 
  event that you have any claim or action against any other member arising 
  from that member&#39;s use of our Website or the Service, you agree to pursue 
  such claim or action independently of and without any demands from us, 
  and you release us from all claims, liability and damages, arising from 
  or in any way connected to the claim or action.</font></li>
</ol>
 <br>
<ul><p><font size="2" face="Times New Roman">In the event that a claim 
or action is brought against us from your activities or use of the Website 
or the Service, including any breach by you of this Agreement or any 
charges or complaints made by other parties against you, you agree to 
pay, hold harmless and defend us in the claim or action. You also agree 
to cooperate as fully as reasonably required in the defence of any claim 
and allow us to assume the exclusive defence and control of the matter.</font> <br>
</p></ul>
<ol type="1" start="18">
  <li><font size="2" face="Times New Roman">U.S. Export Controls. 
  Software from this Website (the Software&quot;) is further subject to 
  United States export controls. No Software may be downloaded from the 
  Website or otherwise exported or re-exported (i) into (or to a national 
  or resident of) Cuba, Iraq, Libya, North Korea, Iran, Syria, or any 
  other Country to which the U.S. has embargoed goods; or (ii) to anyone 
  on the U.S. Treasury Department&#39;s list of Specially Designated Nationals 
  or the U.S. Commerce Department&#39;s Table of Deny Orders. You represent 
  and warrant that you are not located in, under the control of, or a 
  national or resident of any such country or on any such list.</font></li>
</ol>
 <br>
<ol type="1" start="19">
  <li><font size="2" face="Times New Roman">Severance. If any 
  part of this Agreement is determined to be invalid or unenforceable 
  pursuant to applicable law including, but not limited to, the warranty 
  disclaimers and liability limitations set forth above, then the invalid 
  or unenforceable provision will be deemed superseded by a valid, enforceable 
  provision that most closely matches the intent of the original provision 
  and the remainder of the Agreement shall continue in effect.</font></li>
</ol>
 <br>
<ol type="1" start="20">
  <li><font size="2" face="Times New Roman">Assignment. HelloPulse 
  may, and you may not, assign, convey, subcontract or delegate rights, 
  duties or obligations hereunder.</font></li>
</ol>
 <br>
<ol type="1" start="21">
  <li><font size="2" face="Times New Roman">Relationship. You 
  agree that no joint venture, partnership, employment, or agency relationship 
  exists between you and HelloPulse as a result of this agreement or use 
  of this Website.</font></li>
</ol>
 <br>
<ol type="1" start="22">
  <li><font size="2" face="Times New Roman">Disputes. If there 
  is any dispute about or involving the Website and/or the Service, by 
  using the Website, you agree that the dispute will be governed by the 
  laws of England and Wales without regard to its conflict of law provisions. 
  You agree to personal jurisdiction by and venue in the courts of London, 
  United Kingdom.</font></li>
</ol>
 <br>
<ol type="1" start="23">
  <li><font size="2" face="Times New Roman">Other. This Agreement, 
  accepted upon use of the Website and further affirmed by becoming a 
  member of the Service, contains the entire agreement between you and 
  HelloPulse regarding the use of the Website and/or the Service. If any 
  provision of this Agreement is held invalid, the remainder of this Agreement 
  shall continue in full force and effect. </font></li>
</ol>
 <br>
<ol type="1" start="24">
  <li><font size="2" face="Times New Roman">Contact Information. 
  If you have any questions about the rights and restrictions above, please 
  contact us at </font><a href="mailto:admin@HelloPulse.com" target="_blank"><font color="#0000FF" size="2" face="Times New Roman"><u>admin@HelloPulse.com</u></font></a><font size="2" face="Times New Roman">.  Please contact us with any 
  questions regarding this agreement. HelloPulse is a trademark of HelloPulse 
  Inc</font></li>
</ol>
 <br>
<p><font size="2" face="Times New Roman">I HAVE READ THIS AGREEMENT 
AND AGREE TO ALL OF THE PROVISIONS CONTAINED ABOVE.</font></p>


</div>
