<div style="float:left;">
	<%= render :partial => "shared/activity_select", :locals => {:allow_any_activity => "1"} %>
</div>
</br>
</br>
<div class="clear"></div>
<div style="float:left; margin-top:15px">
	<label  style="margin-top: 5px; color:#990000;">Where do you like doing it?</label>
	<div class="clear"></div>

	<%= hidden_field_tag 'place_id', "", :id => 'place_id' %>
	<%= text_field_tag :place_name, 
    (user_place_activity.place.present? ? user_place_activity.place.name : nil), 
    :class => "input_text", :disabled => user_place_activity.place.present?,
    :size => 50,
    "data-prefilled" => (user_place_activity.place.present? ? 'true' : 'false')
  	%>
 
	<div class="clear"></div>
	<div style="margin-top:10px; float:left; margin-top:15px">
 		<label  style="margin-top: 5px; color:#990000;">Why do you like this place?</label>
 		<div class="clear"></div>
  		<%= text_area_tag('description','', :rows => 3, :class => "input_text_box word_count") %>
	</div>

</div>
