<% content_for :c3 do %>
  &nbsp;
<% end %>
<% content_for :c1 do %>
  &nbsp;
<% end %>
<% content_for :message do %>
  <h2>Welcome to Hello Pulse. We are using technology to build a totally new experience in online dating. Please complete the info below to get access to the site. Don’t be shy.</h2>
<% end %>

<%= hidden_field_tag 'activity_id', 1,:id => 'activity_id' %>
<%= text_field_tag :activity_name,
  (user_place_activity.place.present? ? user_place_activity.place.name : nil),
  :class => "input_text", :disabled => false,
  :size => 50,
  "data-prefilled" => (user_place_activity.place.present? ? 'true' : 'false')
%>

<script type="text/javascript" charset="utf-8">

  $(document).ready(function() {
$('#activity_name').focus(function() {
      if ( !$.data(this, 'initialized') ) {
        $(this).val('');
        $("#activity_name").autocomplete(
        "/activities/autocomplete",
        {
          minChars: 2,
          cacheLength: 1,
          delay: 10,
          autoFill:false,
          maxItemsToShow: 20,
          formatResult: formatResult,
          mustMatch: false,
          scroll: true,
          scrollHeight: 20,
          onItemSelect: function(e) {
            var extra = $(e).attr('extra');
            if (extra.length > 0) {
              $("#activity_id").val(extra[0])
            } else {
              $("#activity_id").val('')
            }
          }
        }
      );
        $.data(this, 'initialized', true);
        $(this).blur();
        $(this).focus();
      }
    });

      });
</script>