<% content_for :message do %>
  <h1>
   Here are a list of your matches. Add more <%=  link_to 'activities', '#', 'data-href' => new_account_activity_path, :class => "add_activity" %> to refine or increase your matches. Check the map to see where they’re hanging out, and contact them to arrange dates.
  </h1>
<% end %>


<h3 class="section">My matches</h3>
<%= render :partial => 'shared/object_collection', :locals => { :collection => @matches } %>

