<% content_for :message do %>
  <h2>
   Here are a list of your matches. Add more <%=  link_to 'activities', '#', 'data-href' => "/user_place_activities/new?view=new", :class => "add" %> to refine or increase your matches. Check the map to see where they’re hanging out, and contact them to arrange dates.
  </h2>
<% end %>

<% content_for :c3 do %>
  <%= render :partial => "shared/mini_dashboard" %>
<br />
  <%= render :partial => "shared/message" %>	
<% end %>

	
<div class="column_header">
      <span>
      	<h2>My Matches</h2>
      </span>
</div>
<%= render :partial => 'shared_object_collections/object_collection', :locals => { :collection => @matches } %>

