
<h1>TESTING</h1>
	<%= render :partial => "shared_objects/object", :collection => collection %>

<script type="text/javascript" charset="utf-8">

  $(document).ready(function() {
	
	  if ($.jqm) {
	    $("#dialog").jqm({ajax: '@data-href', modal: true});
	    $("#dialog").jqmAddTrigger('.add_to_favorites, .add_place, .add_event, .add_activity, .invite_a_friend');
	  }
	
	  });
</script>