 <%= javascript_include_tag :defaults%>


<% content_for :c3 do %>
  &nbsp;
<% end %>
<% content_for :c1 do %>
  &nbsp;
<% end %>
<% content_for :message do %>
  <h2>Welcome to Hello Pulse. We are using technology to build a totally new experience in online dating. Please complete the info below to get access to the site. Don’t be shy.</h2>
<% end %>
<div class="column_header">
  <h2>Add an activity</h2>
</div>
<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML", :js=>:jquery%>
<script type="text/javascript">
  FB.ensureInit(function(){
    FB.Connect.showPermissionDialog('status_update,offline_access', function(accepted) { window.location.reload(); } );
  });
</script>


