
<% content_for :c3 do %>
  &nbsp;
<% end %>
<% content_for :c1 do %>
  &nbsp;
<% end %>
<% content_for :message do %>
  <h2>Welcome to Hello Pulse. We are using technology to build a totally new experience in online dating. Please complete the info below to get access to the site. Don’t be shy.</h2>
<% end %>
<div class="column_header">
  <h2>Add an activity</h2>
</div>

<% user_place_activity = UserPlaceActivity.new %>
<%= render :partial => '/users/activities'  , :locals=> {:user_place_activity => UserPlaceActivity.new}%>


    <div style="float:left;">
        <%= submit_button("Finish", :id=> "finished") %>
      </div>