<div class="object" id="<%= dom_id object %>">


  <div class="what" style="padding:5px;margin-right:5px;width:155px;float:left">
	<%= link_to (object.activity.name), object.activity %>
  </div>
  <div class="where" style="padding:5px;margin-right:5px;width:155px;float:left">
	<%= link_to (object.activity.name), object.place %>
  </div>

  <div class="when" style="padding:5px;margin-right:5px;width:85px;float:left;">
		Anytime
  </div>
  <div class="who" style="padding:5px;width:93px;float:left;">

  </div>

</div>
 

 <div class="clear"></div>
