<% content_for :c1 do %>
  <%= render :partial => "place_activity_sidebar" , :locals => {:place_activity => @place_activity}%>
<% end %>

<div class="column_header">
      <span>
      	<h2><%= @activity.name + ' @ ' + @place.name%></h2>
      </span>
</div>
<div style="float:left;width:556px; margin-bottom:4px;">
		<h3 style="width:556px;font-size:14px" class="section_name">People who hang here</h3>
</div>
<div id='people_results' style="margin-bottom:10px">
	<%= render :partial => 'shared_object_collections/horizontal_users_collection' , :locals => {:collection => @users, :reqpath=>'/place_activity/users'}%>
</div>

<div style="float:left;width:556px; margin-bottom:4px;margin-top:10px">
		<h3 style="width:556px;font-size:14px" class="section_name">Things happening here</h3>
</div>

<div>
	<div style="padding:5px;margin-right:5px;width:126px;float:left;text-align:center;background-color:#EDEDED;">Who</div>
	<div style="padding:5px;text-align:center;margin-right:5px;width:300px;float:left;text-align:center;background-color:#EDEDED;">Why</div>
	<div style="padding:5px;text-align:center;width:90px;float:left;text-align:center;background-color:#EDEDED;">When</div>
	<div class="clear"></div>
	<%= render :partial => 'user_place_activity_collection' , :locals => {:collection => @user_place_activities}%>
</div>