<% content_for :c1 do %>
  <%= render :partial => "place_sidebar" %>
<% end %>


<h3 class="section">Activities happening here</h3>
<%= render :partial => "shared_object_collections/place_user_place_activity_collection", :locals => { :collection => @user_place_activities} %>

