<% content_for :c1 do %>
  <%= render :partial => "place_sidebar" %>
<% end %>


<div class="column_header">
      <span>
      	<h2><%=@place.name%></h2>
      </span>
</div>
<div id='people_results'>
	<% if @users != nil and @users.length >0 %>
	  <%= render :partial => 'shared_object_collections/horizontal_users_collection' , :locals => {:collection => @users,:reqpath=>'/place/users'}%>
	<% end %>
</div>

<div class="section_header" >
	<div style="float:left;width:200px">
		<h3 style="width:100px;" class="section_name">Comments</h3>
	</div>
	<div class="clear">&nbsp;</div>
</div>
<div>
	<div style="padding:5px;margin-right:5px;width:126px;float:left;text-align:center;background-color:#EDEDED;">Who</div>
	<div style="padding:5px;margin-right:5px;width:300px;float:left;text-align:center;background-color:#EDEDED;">Why & What</div>
	<div style="padding:5px;width:90px;float:left;text-align:center;background-color:#EDEDED;">When</div>
	<div class="clear"></div>
	<% if @user_place_activities != nil and @user_place_activities.length >0 %>
	
		<%= render :partial => 'user_place_activity_collection' , :locals => {:collection => @user_place_activities}%>
	<% end %>
</div>