<% content_for :c1 do %>
  <%= render :partial => "place_sidebar" %>
<% end %>

<h3 class="section">People Who Hang Here</h3>
<%= render :partial => "shared/object_collection", :locals => { :collection => @place_people } %>

<h3 class="section">Activities That Happen Here</h3>
<%= render :partial => "shared/object_collection", :locals => { :collection => @activities } %>
